/* font-family: "EB Garamond", serif; */
/* font-family: "Poppins", sans-serif; */

body {
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background: black;
     color: #f2e1c2;
}

.hide-con {
     opacity: 0;
     transition: opacity 0.3s ease-in-out;
}

.container {
     opacity: 1;
     padding: 2em 8em;
}

header {
     display: flex;
     justify-content: space-around;
     padding-top: 4em;
     height: 95vh;
}

.intro {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 30vh;
}

h1 {
     font-family: "EB Garamond", serif;
     font-size: 3.2em;
     font-weight: 500;
     width: 35vw;
}

.intro h3 {
     width: fit-content;
     padding: 10px 20px;
     border: 1px solid;
     border-radius: 2em;
     cursor: help;
}

.myImg {
     overflow: hidden;
     width: 400px;
     height: 210px;
     border-radius: 50%;
     transform: rotate(-60deg);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 4em;
}

.my-image {
     width: 23em;
     transform: rotate(60deg);
     margin-top: 5em;
     margin-right: 5em;
}

.contact {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     height: 26em;
}

.pContact {
     font-size: 1.2em;
     margin-right: -6em;
     display: flex;
     justify-content: space-between;
     width: 9em;
 }

.aboutMe {
     display: flex;
     justify-content: space-between;
     height: 75vh;
     padding: 1em 0 0 0;
}

h2 {
     font-family: "EB Garamond", serif;
     font-size: 2.5em;
}

.manImg {
     overflow: hidden;
     width: 355px;
     height: 250px;
     border-radius: 50%;
     transform: rotate(90deg);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 4em;
}

.man-image {
     width: 33.2em;
     transform: rotate(-90deg);
}

.who-am-i {
     width: 24em;
}

.des {
     font-size: 0.99em;
     font-weight: 500;
     margin-top: 9em;
}

hr {
     width: 7em;
     margin: 0;
}

.work-image {
     transition: 0.4s;
}

.myWork {
     height: fit-content;
     margin-top: 8em;
}

.works {
     display: grid;
     grid-template-rows: 20em 20em;
     gap: 2em;
     grid-template-columns: 1fr 1fr 1fr;
     justify-content: center;
     align-items: center;
     margin-right: -3em;
}

.work {
     margin-top: 4em;
}

.workImg {
     overflow: hidden;
     width: 10em;
     height: 14em;
     border-radius: 7em 7em 4px 4px;
     transition: 0.4s;
}

.workDes {
     width: fit-content;
}

.workDes p {
     font-size: 0.8em;
     width: 15em;
     margin-left: 3em;
     letter-spacing: 1px;
}

footer {
     margin-top: 8em;
     display: flex;
     flex-direction: column;
}

.contacts {
     display: flex;
     justify-content: space-between;
     margin-top: 3em;
}

a {
     text-decoration: none;
     color: inherit;
     letter-spacing: 2px;
}

.contacts h3 {
     font-size: 1.3em;
     margin-bottom: 0.5em;
}

.contacts p {
     letter-spacing: 1px;
     margin: 0;
}

#signIcon {
     transform: rotate(90deg);
}

.imgDes {
     display: flex;
}

@media (max-width: 425px) {
     body {
          font-size: 12px;
     }

     header {
          padding-top: 0;
          flex-direction: column;
     }

     .intro {
          flex-direction: column;
          height: 30vh;
          align-items: center;
     }

     h1 {
          font-size: 3em;
          font-weight: 500;
          width: 6em;
          text-align: center;
     }

     .intro h3 {
          width: 18em;
          text-align: center;
     }

     .contact {
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 26em;
     }

     .myImg {
          width: 24em;
          height: 14em;
          flex-direction: column;
          margin-top: 4em;
     }

     .pContact {
          font-size: 1.2em;
          margin-right: -6em;
          width: 9em;
     }

     .aboutMe {
          justify-content: space-around;
          padding: 4em 0 0 0;
          flex-direction: column;
          text-align: center;
          align-items: center;
          height: 90dvh;
     }

     .who-am-i {
          width: 24em;
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     hr {
          width: 16em;
          margin: auto;
     }

     .manImg {
          width: 20em;
          height: 14em;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }

     .myWork {
          margin-top: 12em;
     }

     h2 {
          font-size: 2.5em;
          text-align: center;
     }

     .works {
          display: flex;
          margin-top: 8em;
          flex-direction: column;
     }

     .workDes {
          margin-left: 2em;
     }

     footer {
          margin-top: 8em;
     }

     .contacts {
          justify-content: space-between;
          margin-top: 3em;
          flex-direction: column;
          text-align: center;
          height: 30vh;
          margin-bottom: 4em;
     }

}
